<a href="https://colab.research.google.com/github/mukhammadsidik/activity/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/ITSjob.db")

In [ ]:
[] # creating Vehicle table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS vehicle (vehicle_id integer primary key,
      vehicle_id text,
      registration_id text,
      manufacturer text,
      model text,
      color text,
      current_odometer integer,
      passanger_capacity integer
      );''')

     print("Vehicle Table")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Vehicle Table

In [ ]:
[] # add records to Vehicle table
r_set = my_conn.execute(''' INSERT INTO `Vehicles` 
  (`vehicle_id`, `registration_id`, `manufacturer`, `model`, `current_odometer`, `passenger_capacity`, `color`) VALUES
  (V1001, '2001 ABC', 'Volvo', 'XC90 SE', 4350, 4, 'Silver'),
  (V1002, '2006 AFD', 'Kia', 'K7', 2195, 4, 'Black'),
  (V1003, '2021 AHR', 'Tesla', '2020 F', 509, 4, 'White'),
  (V1004, '2020 DXF', 'Ford', 'Transit',, 974, 2, 'Silver');''')

In [87]:
[] # creating vehicle action table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS Vehicle_action (id integer primary key,
      action_type char
      odometr integer,
      final_cost text,
      brief_discription text,
      date integral
      );''')

     print("Vehicle_action Table")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Vehicle_action Table

In [ ]:
[] # creating Game_officials table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS Game_officials (Game_officials_id integer primary key,
      city_id integer,
      cityname text,
      role text,
      language text
      );''')

     print("Game_officials Table")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

Game_officials Table

In [ ]:
[] # add records to drivers_information
r_set = my_conn.execute(''' INSERT INTO `drivers`  
  (`id`, `name`, `license_number`, `clearance_level`) VALUES
  (1, "Bilal", '123456789010111213', 3),
  (2, "Mukhammad", '123456789014151617', 1)
  (3, "Siddik", '123456789098765432', 2)
  (4,"Mike", '123456789018191011', 4);''')

In [86]:
[] # creating fatl table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS fatl (fatl_id integer primary key,
      drivers_id integer,
      level integral,
      date integral
      );''')

     print("fatl Table")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

fatl Table

In [79]:
[] # creating stlvt table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS stlvt (stlvt_id integer primary key,
      drivers_id integer,
      level integral,
      qualification_date integral,
      authority text
      );''')

     print("stlvt Table")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

stlvt Table

In [88]:
#created table 'Locations'
my_conn.execute('''
  CREATE TABLE IF NOT EXISTS Locations(
    id integer primary key,
    name text,
    street_number text,
    city text,
    type text)
    ''')

In [92]:
[] # creating location table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS location (id integer primary key,
      name text,
      street_number integral,
      city text,
      type text
      );''')

     print("location Table")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

location Table

In [93]:
[] # creating trip table
from sqlalchemy.exc import SQLAlchemyError
try:
     my_conn.execute('''
      CREATE TABLE IF NOT EXISTS trip (trip_id integer primary key,
      booking_reference integral,
      trip_start time,
      trip_finish time
      start_odometr integral
      finish_odometr integral
      );''')

     print("trip created successfully")
except SQLAlchemyError as e:
   #print (e)
   error=str(e._dict_['orig'])
   print(error)

trip created successfully

In [ ]:
[] #add records to trip Table
r_set=my_conn.execute('''INSERT INTO `trip`
(`trip_id`, `booking_reference`, `trip_start`, `trip_finish`, 'odomert_start', 'odometr_finish') VALUES
( 1, 'A1234', 7, 9, 0, 13),
( 2, 'B1234', 8, 10, 0, 12),
( 3, 'C1234', 9, 11, 0, 19),
( 4, 'D1234', 10, 12, 0, 10);''')